<form [formGroup]="productData">
    <div class="title-product">
        <h6 class="nouvel-produit">Nouvel Produit</h6>
        <button class="btn btn-default" (click)="onClose()">X</button>
    </div>
    <div class="form-group">
        <label for="prenom">Titre</label>
        <input
            formControlName="title"
            type="text"
            class="form-control rounded-pill
            bg-white shadow-sm"
            id="title"
            aria-describedby="title"
            placeholder="Titre">
    </div>
    <div class="input-group mb-3 px-2 py-2
        rounded-pill bg-white shadow-sm">
        <input
            accept="image/*"
            (change)="onImageUpload($event)"
            id="upload"
            type="file"
            class="form-control border-0">
        <label id="upload-label"
            for="upload"
            class="font-weight-light
            text-muted"></label>
        <div class="col-2">
            <img
                [src]="imageDisplay"
                alt=""
                style="width:100%;border-radius:50%">
        </div>
    </div>
    <div class="form-group">
        <label for="prenom">Description</label>
        <input
            formControlName="desc"
            type="text"
            class="form-control rounded-pill
            bg-white shadow-sm"
            id="img"
            aria-describedby="desc"
            placeholder="Description">
    </div>
    <div class="form-group">
        <label for="price">Prix</label>
        <input
            formControlName="price"
            type="number"
            class="form-control rounded-pill
            bg-white shadow-sm"
            id="price"
            aria-describedby="price"
            placeholder="Price">
    </div>
    <div class="form-group">
        <label for="price">Quantité</label>
        <input
            formControlName="qtite"
            type="number"
            class="form-control rounded-pill
            bg-white shadow-sm"
            id="price"
            aria-describedby="qtite"
            placeholder="Quantité">
    </div>
    <button type="submit" (click)="addProduct()" class="btn btn-primary">Ajouter</button>
</form>