<footer class="footer">
  <div class="container mt-2 pt-4">
    <div class="row">
      <div class="footer-col">
        <h4>Entreprise</h4>
        <ul>
          <li><a href="#">A PROPOS</a></li>
          <li><a href="#">our services</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Aide</h4>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">shipping</a></li>
          <li><a href="#">returns</a></li>
          <li><a href="#">order status</a></li>
          <li><a href="#">payment options</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>Suivez Nous</h4>
        <div class="social-links">
          <a href="https://www.facebook.com/UsineDigitale.SN/"> <span
              class="icon-facebook"></span></a>
          <a
            href="https://www.linkedin.com/company/l%27usine-digitale/?originalSubdomain=fr"><i
              class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright">
    <div class="container">
      <div class="inner">
        <div class="row">
          <div class="col-lg-6 col-12">
            <div class="left">
              <p>Copyright © 2021 <a href="https://usinedigitale.biz"
                  target="_blank">Usine Digitale</a> - All Rights
                UD.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</footer>
