<app-header></app-header>
<!-- Shop Single -->
<section class="shop single section">
    <div class="container">

        <div class="row">
            <!--button class="btn btn-default" (click)="alertSuccess()">Click</button-->
            <div class="col-12">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <!-- Product Slider -->
                        <div class="product-gallery">
                            <!-- Images slider -->
                            <div class="flexslider-thumbnails">
                                <ul class="slides">
                                    <li
                                        data-thumb="https://cdn.shopify.com/s/files/1/0263/6156/1168/products/Hybrid-Card-metal_one_343x.gif?v=1634592363"
                                        rel="adjustX:10, adjustY:">
                                        <img
                                            src="https://cdn.shopify.com/s/files/1/0263/6156/1168/products/Hybrid-Card-metal_one_343x.gif?v=1634592363"
                                            alt="#">
                                    </li>
                                    <li
                                        data-thumb="https://cdn.shopify.com/s/files/1/0263/6156/1168/products/Hybrid-Card-metal_one_343x.gif?v=1634592363">
                                        <img
                                            src="https://cdn.shopify.com/s/files/1/0263/6156/1168/products/Hybrid-Card-metal_one_343x.gif?v=1634592363"
                                            alt="#">
                                    </li>
                                    <li
                                        data-thumb="https://cdn.shopify.com/s/files/1/0263/6156/1168/products/Hybrid-Card-metal_one_343x.gif?v=1634592363">
                                        <img
                                            src="https://cdn.shopify.com/s/files/1/0263/6156/1168/products/Hybrid-Card-metal_one_343x.gif?v=1634592363"
                                            alt="#">
                                    </li>
                                    <li
                                        data-thumb="https://cdn.shopify.com/s/files/1/0263/6156/1168/products/Hybrid-Card-metal_one_343x.gif?v=1634592363">
                                        <img
                                            src="https://cdn.shopify.com/s/files/1/0263/6156/1168/products/Hybrid-Card-metal_one_343x.gif?v=1634592363"
                                            alt="#">
                                    </li>
                                </ul>
                            </div>
                            <!-- End Images slider -->
                        </div>
                        <!-- End Product slider -->
                    </div>
                    <div class="col-lg-6 col-12">

                        <div class="product-des" *ngIf="currentproduct">
                            <!-- Description -->
                            <div class="short">
                                <h4>{{currentproduct.title}} </h4>
                                <div class="rating-main">
                                    <ul class="rating">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star-half-o"></i></li>
                                        <li class="dark"><i class="fa
                                                fa-star-o"></i></li>
                                    </ul>

                                </div>
                                <p class="price">{{currentproduct.price | currency:'Fcfa '}}
                                </p>
                                <p class="description">
                                    {{currentproduct.desc}}
                                </p>
                            </div>
                            <!--/ End Description -->
                            <!-- Product Buy -->
                            <div class="product-buy">
                                <div class="quantity">
                                    <h6>Quantité :</h6>
                                    <!-- Input Order -->
                                    <div class="input-group">
                                        <div class="button minus">
                                            <button type="button" class="btn
                                                btn-primary btn-number"
                                                data-type="minus"
                                                
                                                (click)="moins(currentproduct)">
                                                <i class="ti-minus"></i>
                                            </button>
                                        </div>
                                        <input #quantity type="number"
                                            class="input-number"
                                            [max]="10"
                                            [min]="2"
                                            readonly
                                            value="{{currentproduct.qtite}}">
                                            <!-- <input 
                                            type="number" 
                                            step="1" 
                                            max="99" 
                                            min="1" 
                                            [value]="currentproduct.qtite" 
                                            title="Qty" 
                                            class="input-number"
                                            size="4"
                                            > -->
                                        <div class="button plus">
                                            <button type="button" class="btn
                                                btn-primary btn-number"
                                                
                                                data-type="plus"
                                                (click)="plus(currentproduct)">
                                                <i class="ti-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <!--/ End Input Order -->
                                </div>
                                <div class="add-to-cart">

                                    <a  class="btn" routerLink="/cart"
                                        (click)="addToCart(currentproduct)">Ajouter
                                        au panier</a>
                                    <a  class="btn min"><i
                                            class="ti-heart"></i></a>
                                    <a  class="btn min"><i class="fa
                                            fa-compress"></i></a>
                                </div>
                                <p class="cat">Catégorie :<a href="#">Lorem</a></p>
                            </div>
                            <!--/ End Product Buy -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="product-info">
                            <div class="nav-main">
                                <!-- Tab Nav -->
                                <!--/ End Tab Nav -->
                            </div>
                            <div class="tab-content" id="myTabContent">
                                <!-- Description Tab -->


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Shop Single -->

<!-- Start Most Popular -->
<div class="product-area most-popular related-product section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Produits connexes</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel popular-slider">
                    <!-- Start Single Product -->
                    <div class="single-product">
                        <div class="product-img">
                            <a href="#">
                                <img class="default-img"
                                    src="https://cdn.shopify.com/s/files/1/0263/6156/1168/products/Hybrid-Card-metal_one_343x.gif?v=1634592363"
                                    alt="#">
                                <img class="hover-img"
                                    src="https://cdn.shopify.com/s/files/1/0263/6156/1168/products/Hybrid-Card-metal_one_343x.gif?v=1634592363"
                                    alt="#">
                                <span class="out-of-stock">New</span>
                            </a>
                            <div class="button-head">
                                <div class="product-action">
                                    <a data-toggle="modal"
                                        data-target="#exampleModal"
                                        title="Quick View" href="#"><i
                                            class="ti-eye"></i><span>Boutique</span></a>
                                    <a title="Wishlist" href="#"><i
                                            class="ti-heart"></i><span>Ajouter
                                            à la liste des favoris</span></a>
                                    <a title="Compare" href="#"><span>Add to
                                            Compare</span></a>
                                </div>
                                <div class="product-action-2">
                                    <a title="Add to cart" href="#">
                                        <i _ngcontent-cyr-c299=""
                                            class="ti-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3><a href="#">Nom Produit</a></h3>
                            <div class="product-price">
                                <span class="old">6000 Fcfa</span>
                                <span>5000 Fcfa</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                    <!-- Start Single Product -->
                    <div class="single-product">
                        <div class="product-img">
                            <a href="#">
                                <img class="default-img"
                                    src="https://cdn.shopify.com/s/files/1/0263/6156/1168/products/Hybrid-Card-metal_one_343x.gif?v=1634592363"
                                    alt="#">
                                <img class="hover-img"
                                    src="https://cdn.shopify.com/s/files/1/0263/6156/1168/products/Hybrid-Card-metal_one_343x.gif?v=1634592363"
                                    alt="#">
                            </a>
                            <div class="button-head">
                                <div class="product-action">
                                    <a data-toggle="modal"
                                        data-target="#exampleModal"
                                        title="Quick View" href="#"><i
                                            class="ti-eye"></i><span>Boutique</span></a>
                                    <a title="Wishlist" href="#"><i
                                            class="ti-heart"></i><span>Ajouter
                                            à la liste des favoris</span></a>
                                    <a title="Compare" href="#"><span>Add to
                                            Compare</span></a>
                                </div>
                                <div class="product-action-2">
                                    <a title="Add to cart" href="#">
                                        <i _ngcontent-cyr-c299=""
                                            class="ti-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3><a href="#">Nom Produit</a></h3>
                            <div class="product-price">
                                <span>6000 Fcfa</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                    <!-- Start Single Product -->
                    <div class="single-product">
                        <div class="product-img">
                            <a href="#">
                                <img class="default-img"
                                    src="https://cdn.shopify.com/s/files/1/0263/6156/1168/products/Hybrid-Card-metal_one_343x.gif?v=1634592363"
                                    alt="#">
                                <img class="hover-img"
                                    src="https://cdn.shopify.com/s/files/1/0263/6156/1168/products/Hybrid-Card-metal_one_343x.gif?v=1634592363"
                                    alt="#">
                                <span class="new">New</span>
                            </a>
                            <div class="button-head">
                                <div class="product-action">
                                    <a data-toggle="modal"
                                        data-target="#exampleModal"
                                        title="Quick View" href="#"><i
                                            class="ti-eye"></i><span>Boutique</span></a>
                                    <a title="Wishlist" href="#"><i
                                            class="ti-heart"></i><span>Ajouter
                                            à la liste des favoris</span></a>
                                    <a title="Compare" href="#"><span>Add to
                                            Compare</span></a>
                                </div>
                                <div class="product-action-2">
                                    <a title="Add to cart" href="#">
                                        <i _ngcontent-cyr-c299=""
                                            class="ti-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3><a href="#">Nom Produit</a></h3>
                            <div class="product-price">
                                <span>6000 Fcfa</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                    <!-- Start Single Product -->
                    <div class="single-product">
                        <div class="product-img">
                            <a href="#">
                                <img class="default-img"
                                    src="https://cdn.shopify.com/s/files/1/0263/6156/1168/products/Hybrid-Card-metal_one_343x.gif?v=1634592363"
                                    alt="#">
                                <img class="hover-img"
                                    src="https://cdn.shopify.com/s/files/1/0263/6156/1168/products/Hybrid-Card-metal_one_343x.gif?v=1634592363"
                                    alt="#">
                            </a>
                            <div class="button-head">
                                <div class="product-action">
                                    <a data-toggle="modal"
                                        data-target="#exampleModal"
                                        title="Quick View" href="#"><i
                                            class="ti-eye"></i><span>Boutique</span></a>
                                    <a title="Wishlist" href="#"><i
                                            class="ti-heart"></i><span>Ajouter
                                            à la liste des favoris</span></a>
                                    <a title="Compare" href="#"><span>Add to
                                            Compare</span></a>
                                </div>
                                <div class="product-action-2">
                                    <a title="Add to cart" href="#">
                                        <i _ngcontent-cyr-c299=""
                                            class="ti-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3><a href="#">Nom Produit</a></h3>
                            <div class="product-price">
                                <span>6000 Fcfa</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>

<!-- End Most Popular Area -->
