<app-header></app-header>

<!-- <section class="page-header">
  <div class="row">
    <div class="col-sm">
      <video src="http://localhost:4200/assets/UD_CARD.mp4"></video>
    </div>
    <div class="col-sm">
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email </label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Nom de l'entreprise</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Nom Entreprise">
        </div>
        <div class="form-group">
        <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
          <input accept="image/*" (change)="onImageUpload($event)" type="file" class="form-control border-0">
          <label id="upload-label" for="upload" class="font-weight-light text-muted"></label>
      </div>
    </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Adresse de l'entreprise</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Adresse">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Nombre de carte souhaitez</label>
          <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter nombre de Carte">
        </div>
        <div align="center">
        <button type="submit" class="btn btn-warning">Valider la demande de carte</button>

        </div>

      </form>
    </div>
  </div>
</section> -->

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="monscript.js"></script>
    <title>Masonry Layout con CSS Grid</title>
</head>
<body>
    <h1>Gallery Carte UD </h1> -->

    <!-- <div class="gallery" id="gallery">
        <div class="gallery-item">
            <div class="content"><img src="https://source.unsplash.com/random/?tech,care" alt=""></div>
        </div>
        <div class="gallery-item">
            <div class="content"><img src="https://source.unsplash.com/random/?tech,studied" alt=""></div>
        </div>
        <div class="gallery-item">
            <div class="content"><img src="https://source.unsplash.com/random/?tech,substance" alt=""></div>
        </div>
        <div class="gallery-item">
            <div class="content"><img src="https://source.unsplash.com/random/?tech,choose" alt=""></div>
        </div>
        <div class="gallery-item">
            <div class="content"><img src="https://source.unsplash.com/random/?tech,past" alt=""></div>
        </div>
        <div class="gallery-item">
            <div class="content"><img src="https://source.unsplash.com/random/?tech,lamp" alt=""></div>
        </div>
        <div class="gallery-item">
            <div class="content"><img src="https://source.unsplash.com/random/?tech,yet" alt=""></div>
        </div>
        <div class="gallery-item">
            <div class="content"><img src="https://source.unsplash.com/random/?tech,eight" alt=""></div>
        </div>
        <div class="gallery-item">
            <div class="content"><img src="https://source.unsplash.com/random/?tech,crew" alt=""></div>
        </div>
        <! <div class="gallery-item">
            <div class="content"><img src="https://source.unsplash.com/random/?tech,event" alt=""></div>
        </div>
        <div class="gallery-item">
            <div class="content"><img src="https://source.unsplash.com/random/?tech,instrument" alt=""></div>
        </div>
        <div class="gallery-item">
            <div class="content"><img src="https://source.unsplash.com/random/?tech,practical" alt=""></div>
        </div>
        <div class="gallery-item">
            <div class="content"><img src="https://source.unsplash.com/random/?tech,pass" alt=""></div>
        </div>
        <div class="gallery-item">
            <div class="content"><img src="https://source.unsplash.com/random/?tech,bigger" alt=""></div>
        </div>
        <div class="gallery-item">
            <div class="content"><img src="https://source.unsplash.com/random/?tech,number" alt=""></div>
        </div>
        <div class="gallery-item">
            <div class="content"><img src="https://source.unsplash.com/random/?tech,feature" alt=""></div>
        </div>
        <div class="gallery-item">
            <div class="content"><img src="https://source.unsplash.com/random/?tech,line" alt=""></div>
        </div>
        <div class="gallery-item">
            <div class="content"><img src="https://source.unsplash.com/random/?tech,railroad" alt=""></div>
        </div>
        <div class="gallery-item">
            <div class="content"><img src="https://source.unsplash.com/random/?tech,pride" alt=""></div>
        </div>
        <div class="gallery-item">
            <div class="content"><img src="https://source.unsplash.com/random/?tech,too" alt=""></div>
        </div>
        <div class="gallery-item">
            <div class="content"><img src="https://source.unsplash.com/random/?tech,bottle" alt=""></div>
        </div>
        <div class="gallery-item">
            <div class="content"><img src="https://source.unsplash.com/random/?tech,base" alt=""></div>
        </div>
        <div class="gallery-item">
            <div class="content"><img src="https://source.unsplash.com/random/?tech,cell" alt=""></div>
        </div>
        <div class="gallery-item">
            <div class="content"><img src="https://source.unsplash.com/random/?tech,bag" alt=""></div>
        </div> -->
        <!-- <div class="gallery-item">
            <div class="content"><img src="https://source.unsplash.com/random/?tech,card" alt=""></div>
        </div>
    </div> -->

     <!-- <h3>gallery Carte UD </h3>  -->
<div class="container">

  <div class="gallery-container w-3 h-2">
    <div class="gallery-item">
      <div class="image">
        <img src="assets/02_ORION_ESTATE.jpg" alt="02_ORION_ESTATE">
      </div>
       <div class="text">Usine Digitale</div>
    </div>
  </div>

  <div class="gallery-container w-3 h-2">
    <div class="gallery-item">
      <div class="image">
        <img src="assets/05_COMIT_LAB.jpg" alt="05_COMIT_LAB">
      </div>
      <div class="text">Usine Digitale</div>

    </div>
  </div>

  <div class="gallery-container w-3 h-2">
    <div class="gallery-item">
      <div class="image">
        <img src="assets/04_LOGIDOO.jpg" alt="04_LOGIDOO">
      </div>
      <div class="text">Usine Digitale</div>
    </div>
  </div>

  <div class="gallery-container w-3 h-2">
    <div class="gallery-item">
      <div class="image">
        <img src="assets/05_COMIT_LAB.jpg" alt="05_COMIT_LAB">
      </div>
       <div class="text">Usine Digitale</div>
    </div>
  </div>

  <div class="gallery-container w-3 h-2">
    <div class="gallery-item">
      <div class="image">
        <img src="assets/05_COMIT_LAB.jpg" alt="02_ORION_ESTATE">
      </div>
             <div class="text">Usine Digitale</div>

    </div>
  </div>

   <div class="gallery-container w-3 h-2">
    <div class="gallery-item">
      <div class="image">
        <img src="assets/03_SOURIANE.jpg" alt="03_SOURIANE">
      </div>
       <div class="text">Usine Digitale</div>
    </div>
  </div>

</div>

<!-- </body>
</html> -->
<app-footer></app-footer>
