<app-header></app-header>



<div class="container">
    <h1 align="center">Présent de l'application iDigital pour les entreprises</h1>
    <div class="row" align="center">
        <div class="col-sm">
            <img src="../../../assets/1.jpg" alt="img1" style="border-radius: 10px">
        </div>
        <div class="col-sm">

            <h3>iDigital Bussiness plateforme </h3>
            <hr>

            <p>
                La platefome gére les clients des salle de sport   , Ticket de cinema , et systeme de pointage pour les entreprise ,
                Gestion de parking intelligent 
            </p>
            
        </div>

    </div>
</div>