<section class="page-header">
    <div class="overly"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <br>
            </div>
        </div>
    </div>
</section>
<div class="page-wrapper">
    <div class="checkout shopping">
        <div class="container">
            <div class="row">

                <!-- Order sidebar Summery -->
                <div class="col-md-12 col-lg-8 mx-auto"
                    *ngIf="(cartItemArray.length !==0) || (!success)">
                    <div class="product-checkout-details mt-5 mt-lg-0
                        alert-dark">
                        <h4 class="mb-4 border-bottom pb-4 text-center">Récapitulatif
                            de la
                            commande</h4>

                        <ul class="list-inline mx-auto justify-content-center">
                            <li class="d-flex justify-content-between">
                                <span>Subtotal:</span>
                                <span class="h5">{{total}}</span>
                            </li>
                            <li class="d-flex justify-content-between">
                                <span>Expédition:</span>
                                <span class="h5">Free</span>
                            </li>
                            <li class="d-flex justify-content-between">
                                <span>Total</span>
                                <span class="h5">{{total}}</span>
                            </li>
                        </ul>

                        <form action="#">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio"
                                    name="exampleRadios" id="exampleRadios1"
                                    value="option1" checked>
                                <label class="form-check-label"
                                    for="exampleRadios1">
                                    Direct bank transfer
                                </label>


                            </div>

                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio"
                                    name="exampleRadios" id="exampleRadios2"
                                    value="option2">
                                <label class="form-check-label"
                                    for="exampleRadios2">
                                    Check payments
                                </label>
                            </div>

                        </form>
                        <div class="col-md-12 text-center">
                            <a routerLink="/checkout" class="btn btn-main
                                btn-small plc" (click)="makePayment(total)">Place
                                Order</a>
                        </div>

                    </div>

                </div>
                <div class="jumbotron text-center" *ngIf="success">
                    <h1 class="display-3">Merci !</h1>
                    <p class="lead"><strong>Please check your email</strong>
                        for further instructions on how to complete your
                        account setup.</p>
                    <hr>

                    <p class="lead">
                        <a class="btn btn-primary btn-sm"
                            routerLink="/product"
                            role="button">Retour à la boutique</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
